@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}


@theme {
    /* Color coustom */
    /* --color-primary: #2563EB;
    --color-background: #f9f9f9 ;
    --color-secondary: #F97316;
    --color-secondery-700: #021425;
    --color-secondaryBack: #EBF5FF;
    --color-secondaryCBCBCB: #CBCBCB;
    --color-secondarySky: #67AAE6;
    --color-Neutral: #f9f9f9;
    --color-NeutralSecondory :#606060;
    --color-Neutral868686: #868686;
    --color-surface: #CBD5E1;
    --color-text: #1E293B; */
}

/* * {
  font-family: 'Roboto', sans-serif;
  user-select: none;
  font-family: 'Inter', sans-serif;
} */

body {
  font-family: 'Outfit', sans-serif;
}


input,
textarea,
pre,
code {
  user-select: text;
}

.menu {
  max-height: 200px; /* تنظیم ارتفاع */
  overflow-y: auto;
}

/* مخفی کردن اسکرول‌بار */
.menu::-webkit-scrollbar {
  width: 4px;
  display: none;
}